:root {
  --primary: #000000;
  --button: #000000;
  --button-text: #ffffff;
  --primary-text:   #ffffff;
  --secondary: #2e3cbe;
  --secondary-text: #ffffff;
  --accent: #ffffff;
  --accent-text: #000000;
}
